<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Crear Cuenta</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    </head>
    <body>
        <div id="contenido">
            <div id="cuadrado"></div>
            <input id="texto" type="text" placeholder="Correo electronico"/>
            <input id="texto" type="password" placeholder="Contraseña" />
            <h3>Confirmar contraseña</h3>
            <input id="texto" type="password" placeholder="Contraseña" />
        </div>
        <div id="botones">
            <button id="boton">Crear</button>
            <button id="boton">Ingresar</button> 
        </div>
    </body>
</html>