<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Recuperar</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    </head>
    <body>
        <div id="contenido">
            <div id="triangulo"></div>
            <input id="texto" placeholder="Correo electronico"/>
        </div>
        <div id="botones">
            <button id="boton">Recuperar</button>
            <button id="boton">Ingresar</button>
        </div>

    </body>
</html>